<ul>
    {% for item in include.level %}

    {% assign class = '' %}

    {% if page.url = item.url %}
    {% assign class = {{ class | append: ' active'}} %}
    {% endif %}

    {% if item.subitems %}
    {% assign class = {{ class | append: ' has-sub'}} %}
    {% endif %}

    {% if forloop.last %}
    {% assign class = {{ class | append: ' last'}} %}
    {% endif %}

    <li class="{{ class }}">
        <a href="{{ item.url }}">{{ item.text }}</a>
        {% if item.subitems %}
        {% include menu_level.html level=item.subitems %}
        {% endif %}
    </li>

    {% endfor %}
</ul>