/* Source: http://bernholdtech.blogspot.com/2013/04/very-simple-pure-css-collapsible-list.html */

/* Collapse the list  */
.collapsibleList li > input + * {
 display: none;
}

/* Expand the list  */
.collapsibleList li > input:checked + * {
 display: block;
}

.collapsibleList li > input {
 display: none;
}

.collapsibleList label {
 cursor: pointer;
}

/* Hide checkboxes */
.collapsibleList li > input {
    display: none;
}
